html {
    scroll-behavior: smooth;
}

body {
    background-color: #121212;
    color: #F5F5F5;
    font-family: "Montserrat", sans-serif;
}

#root {
    height: 100%;
}

/* Mobile Nav Transitions */
#mobile-nav.open {
    opacity: 1;
    pointer-events: auto;
}

#mobile-nav.open nav {
    transform: translateX(0);
}

#main-content.menu-open {
    transform: scale(0.9) translateX(-15%);
    border-radius: 1.5rem;
    overflow: hidden;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

#header.scrolled {
    background-color: rgba(18, 18, 18, 0.7);
    backdrop-filter: blur(1.5rem);
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

#mobile-menu-btn .opacity-0 {
    opacity: 0;
}

#mobile-menu-btn .opacity-100 {
    opacity: 1;
}

#mobile-menu-btn.open #menu-icon-open {
    opacity: 0;
}

#mobile-menu-btn.open #menu-icon-close {
    opacity: 1;
}

#hero-slideshow .slide.active {
    opacity: 1;
}